body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    //  background-color: black;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-family: "Roboto-light", "sans-serif";
}

h1 {
    font-size: $h1;
}

h2 {
    font-size: $h2;
}

h3 {
    font-size: $h3;
}

h4 {
    font-size: $h4;
}

h5 {
    font-size: $h5;
}

.para-large {
    font-size: $para-large;
}

.para-medium {
    font-size: $para-medium;
}

.para-small {
    font-size: $para-small;
}

.para-xsmall {
    font-size: $para-xsmall;
}

.no-text-decoration {
    text-decoration: none;
}

.underline-border {
    border-bottom: 1px solid;
    text-decoration: none;
}

.underline {
    text-decoration-line: underline;
}

.padding-xxlarge {
    padding: 24px;
}

.padding-xlarge {
    padding: 20px;
}

.padding-large {
    padding: 16px;
}

.padding-medium {
    padding: 12px;
}

.padding-small {
    padding: 8px;
}

.padding-xsmall {
    padding: 4px;
}

.margin-xxlarge {
    margin: 24px;
}
.margin-xlarge {
    margin: 20px;
}
.margin-large {
    margin: 16px;
}

.margin-medium {
    margin: 12px;
}

.margin-small {
    margin: 8px;
}

.margin-xsmall {
    margin: 4px;
}

.no-vertical-margin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.no-horizontal-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.icon-size-xxlarge {
    font-size: $icon-xxlarge;
}

.icon-size-xlarge {
    font-size: $icon-xlarge;
}

.icon-size-large {
    font-size: $icon-large;
}

.icon-size-medium {
    font-size: $icon-medium;
}

.icon-size-small {
    font-size: $icon-small;
}

.icon-size-xsmall {
    font-size: $icon-xsmall;
}

.bsContainer {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.hide-overflow {
    overflow: hidden;
}
.overflow-scroll{
  overflow: scroll;
}
.overflow-x-scroll{
  overflow-x: scroll;
}
.overflow-y-scroll{
  overflow-y: scroll;
}


.failure-message {
    color: $error-color;
}

.success-message {
    color: $success-color;
}

.no-top-padding {
    padding-top: 0 !important;
}

.no-bottom-padding {
    padding-bottom: 0 !important;
}

.no-left-padding {
    padding-left: 0 !important;
}

.no-right-padding {
    padding-right: 0 !important;
}

.no-vertical-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.no-horizontal-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-border-radius {
    border-radius: 0;
}

.no-border-top-radius {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.no-border-bottom-radius {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.no-vertical-border {
    border-top: 0px !important;
    border-bottom: 0px !important;
}

.no-horizontal-border {
    border-left: 0px !important;
    border-right: 0px !important;
}

.no-box-shadow{
    box-shadow: 0px 0px 0px 0px transparent
}

.zh-cta-big {
    padding: 5px 20px 4px;
}

.position-relative {
    position: relative;
}
.position-fixed {
    position: fixed;
}
.position-absolute {
    position: absolute;
}

.full-height {
    height: 100%;
}
.full-width {
    width: 100%;
}
.no-top-margin {
    margin-top: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.no-left-margin {
    margin-left: 0;
}

.no-right-margin {
    margin-right: 0;
}

.no-margin {
    margin: 0 !important;
}

.no-underline {
    text-decoration: none;
}

.f-right{
  float: right;
}
.f-left{
  float: left;
}
.cursor-pointer{
  cursor: pointer;
}
.border-radius-circle{
  border-radius: 50%;
}

.messages {
  position:fixed;
  top:10px;
  right:10px;
  min-width:300px;
  transition: all 5s ease;
  -webkit-transition: all 5s ease;
}

.message {
  padding:16px;
  margin-top:8px;
  transition: all 5s ease;
  -webkit-transition: all 5s ease;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
  position: relative;
}
.message .close {
  @extend .cursor-pointer;
  position:absolute;
  right:10px;
  top:10px;
  padding:6px 10px;
  // border:1px solid gray;
  text-align: center;
  vertical-align: middle;
}

.message.error {
  background-color: #f67575;
}
.message.notification {
  background-color: #ffe9a7;
}
.message.success {
  background-color: #bbf5bb;
}
.outline-none{
  outline: none;
}

pre {
  max-width: 100%;
  max-height:150px;
  overflow: auto;
}
.bg-light-grey{
  background-color: #eee;
}
.bg-white{
  background-color: white;
}
.default-radius{
  border-radius: 5px;
}
.light-border{
  border: 1px solid grey;
}
.height-auto{
  height: auto;
}
.box-sizing-box{
  box-sizing: border-box;
}
.login-user{
  width: 300px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  @extend .default-radius;
  @extend .light-border;
  @extend .height-auto;
  @extend .box-sizing-box;
}
.fg-white{
  color: white;
}
.md-button.md-default-theme[disabled],
.md-button[disabled]{
  background: #eee !important;
}
.bg-blue{
  background: #a8a8d4 !important;
}
.text-align-left{
  text-align: left;
}
.text-align-center{
  text-align: center;
}
.text-align-right{
  text-align: right;
}
.hide-md-options md-option{
  display: none;
}
.md-select-value md-option{
  display: none;
}
.chart-pie{
  height: 400px !important;
  width: 400px !important;
  display: inline-block !important;
}
button{
    background: #ff9900 !important;
    box-sizing: border-box;
    border: 1px solid #ff9900;
    border-radius: 2px !important;
    padding: 12px 16px;
}
button:hover{
    background-color: rgba(255, 153, 0, 0.84) !important;
}
button[disabled='disabled']{
    background-color: #ff9900 !important;
    border: 1px solid #ccc;
}
