$header-height:   60px;

$small-font:      11px;

$small-image: 200px;
$xsmall-image: 150px;

$h1: 48px;
$h2: 36px;
$h3: 30px;
$h4: 24px;
$h5: 18px;

$para-large: $h5;
$para-medium: 16px;
$para-small: 14px;
$para-xsmall: 12px;

$icon-xxlarge: 96px;
$icon-xlarge: 72px;
$icon-large: 48px;
$icon-medium: 36px;
$icon-small: 24px;
$icon-xsmall: 18px;
